
.problem-details-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80vh;
    width: 100%;
}

.problem-details {
    flex: 1;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: 25px;
    overflow-y: auto;
}

.problem-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.problem-author, .problem-difficulty, .problem-statement {
    margin-bottom: 10px;
    color: #333;
}

.problem-compiler {
    margin-top: 10px;
    flex: 1;
    padding: 20px;
    background-color: #282c34;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.compiler-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.code-editor {
    flex: 1;
    width: 700px;
    height: 500px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 4px;
    color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 20px;
    resize: none;
}

.run-code-button, .submit-code-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: rgb(34, 144, 195);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.run-code-button:hover, .submit-code-button:hover {
    background-color: #0f6286;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.code-output {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    color: #ddd;
}

.output-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

pre {
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ddd;
    font-family: 'Courier New', Courier, monospace;
}